<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knd.manage.mall.mapper.TbOrderMapper">
    <!--    //分页模糊查询所有-->
    <select id="selectPageByLike" resultType="com.knd.manage.mall.dto.OrderDto" parameterType="map">
        select b.*,a.categoryName
        from pms_goods b
        left join pms_category a on a.id = b.categoryId and a.deleted ='0'
        where
        b.deleted ='0'
        <if test="orderNo !='%%'">
            and b.orderNo like #{orderNo}
        </if>
        order by b.createDate desc
    </select>
    <select id="selectOrderPage4App" resultType="com.knd.manage.mall.entity.TbOrder">
        SELECT tr.* FROM tb_order tr
        left join tb_order_ic tc on tr.id = tc.tbOrderId
        ${ew.customSqlSegment}
    </select>

</mapper>
