<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knd.front.user.mapper.UserPowerLevelTestMapper">

    <select id="getUserPowerLevels" resultType="com.knd.front.user.dto.UserPowerLevelDto">
        select action,powerLevel,createDate from user_power_level_test where userId = #{userId} and deleted = 0 order by version desc limit 1
    </select>
</mapper>
