<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knd.front.login.mapper.UserMapper">
    <update id="updateReset">
        update `user` set password = #{password} where deleted=0 and frozenFlag=0 and mobile = #{mobile}
    </update>

</mapper>
